/* Общие стили */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.25;
  color: #333;
  padding: 0;
  margin: 0;
}

ul {
  line-height: 2;
}

/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
  color: #444;
}

/* Стили для ссылок */
a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  color: #00aaff;
}

/* Стили для шапки сайта */
header {
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(20px);
  /* border-bottom: 1px solid #ddd; */
}

.bg-header{
  height: 48px;
}

.navbar {
  max-width: 940px;
  margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
  color: #1D1D1F;
  font-size: 24px;
  font-weight: 500;
  padding: 0px;
}

.nav-link {
  color: #313135;
  font-size: 13px;
  padding: 0px;
}

.navbar-toggler {
  border: 0;
}

.footer-nav {
  line-height: 1.5;
}

/* Стили для основного содержимого */
main {
  padding: 0px 0px;
}

.frame-1 {
  background: #006adb;
}

.phone-ui{
  margin-top: -80px;
  max-width: 400px;
}

.info {
  padding: 12px;
  max-width: 940px;
  padding-bottom: 135px;
}

.info-title {
  margin-bottom: 35px;
}

@media (max-width: 415px) {
  .brand-title {
    font-size: 60px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 60px;
    padding-top: 5rem;
  }

  .phone-ui {
    max-width: 280px;
    margin-top: -50px;
  }

  .card-1 {
    width: 150px;
  }

  .card-2 {
    width: 200px;
  }

  .card-3 {
    height: 170px;
    padding-top: 20px;
  }

  .card-4 {
    height: 150px;
  }
}

@media (min-width: 415px) {
  .card-1 {
    width: 200px;
  }

  .card-2 {
    width: 250px;
  }
}

@media (min-width: 415px) {
  .brand-title {
    font-size: 80px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 60px;
    padding-top: 5rem;
  }

  .phone-ui {
    max-width: 350px;
    margin-top: -50px;
  }
}

@media (min-width: 576px) {
  .brand-title {
    font-size: 100px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 60px;
    padding-top: 5rem;
  }

  .phone-ui {
    margin-top: -60px;
  }
}

@media (min-width: 768px) {
  .brand-title {
    font-size: 140px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 85px;
    padding-top: 5rem;
  }

  .phone-ui {
    margin-top: -70px;
  }
}

@media (min-width: 992px) {
  .brand-title {
    font-size: 185px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 115px;
    padding-top: 50px;
  }

  .card-view {
    width: 950px;
  }

  .card {
    max-width: 450px;
  }
}

.info-paragraph {
  font-weight: 500;
  margin-bottom: 35px;
}

.black-btn {
  border-radius: 50px;
  background: #1D1D1F;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  border: none;
  padding: 12px 40px;
}

.black-btn:hover {
  background: #2f2f33;
}

.frame-2 {
  background: #121316;
}

.sec-info-cards {
  width: 575px;
  height: 525px;
}

.frame-2.card {
  background: #191A1D;
}

.col {
  padding-left: 0px;  
}

.card-body {
  padding: 0px;
}

.card-view {
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding-left: 105px; */
  max-width: 1130px;
}

.card {
  /* max-width: 450px; */
  /* max-height: 420px; */
  /* min-width: 450px; */
  border-radius: 35px;
  background: #191A1D;
  color: #fff;
  padding: 46px 46px 46px 66px;
  margin-left: 10px;
}

.card-title {
  color: #FFF;
  font-weight: 500;
  font-size: 36px;
  text-align: left;
}

.card-1 {
  max-width: 210px;
  /* margin-top: 35px;
  margin-left: -90px; */
  margin-bottom: -46px;
  padding-top: 30px;
}

.card-2 {
  max-width: 300px;
  /* margin-top: 60px;
  margin-bottom: 30px; */
  margin-top: 40px;
  margin-bottom: 20px;
}
  
.card-3 {
  display: block;
  max-height: 220px;
  margin-left: auto;
  margin-bottom: -46px;
}

.card-4 {
  display: block;
  max-height: 220px;
  margin-left: auto;
  margin-bottom: -46px;
  margin-right: -46px;
}

/* Стили для подвала сайта */
footer {
  background-color: #f5f5f7;
  /* border-top: 1px solid #ddd; */
  padding: 20px 0;
  padding-top: 40px;
  padding-bottom: 10px;
  /* padding-bottom: 40px; */
  /* padding: 40px; */
}

.frame-7 {
  padding-bottom: 70px;
}

.footer-jmplist-header {
  color: #000;
  font-size: 16px;
}

.bottom-line {
  padding-bottom: 35px;
  border-bottom: 1px solid #929299;
}

/* Стили блока юр. информации */

.copyright-block {
  padding: 0px;
  padding-top: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #626266;
}

.copyright-eula {
  display: inline-block;
  cursor: pointer;
}

.copyright-breakpoint {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 900;
}

.region-selector {
  color: #007BFF;
  cursor: pointer;
}

/* Блок поддерживаемых платформ */

.supported-platforms-bg {
  background-image: url(../img/bg-sup-platforms.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  resize: none;
}

.supported-platforms {
  max-width: 940px;
  padding: 0px;
}

.box-sup-platf-tile {
  padding-left: 0px;
  padding-top: 90px;
  max-width: max-content;
}

.box-sup-platf-p {
  margin-left: auto;
  padding-top: 0px;
  padding-left: -5px;
  padding-bottom: 75px;
}

.sup-platf-p {
  font-size: 30px;
  font-weight: 500;
}

.color-box-sup-platf-tile {
  background-color: #006adb;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 19px;
  padding-bottom: 5px;
  max-width: 595px;
}

.sup-platf-title {
  font-size: 50px;
  font-weight: 600;
}

/* Блок других приложений */

.more-apps {
  padding-top: 80px;
}

.more-apps-title {
  font-size: 50px;
  font-weight: 600;
  color: #000;
  padding-bottom: 25px;
}

.app-card {
  background-color: #f5f5f5;
  padding: 55px 36px 55px 36px;
  font-weight: 600;
  border: 0px;
  max-width: 300px;
}

.placeholder-more-apps {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.card-container-more-apps {
  max-width: 1000px;
}

.text-white-c {
  color: #fff;
}

@media (max-width: 576px) {
  .box-sup-platf-p {
    margin-left: 0;
    padding-bottom: 75px;
  }
}

/* Блок подписки на новостную рассылку */

.newseller-bg {
  background-color: #141414;
}

.newseller {
  max-width: 940px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.ns-title {
  color: #007bff;
  font-size: 50px;
  max-width: 600px;
  font-weight: 500;
  padding-bottom: 25px;
}

.ns-p {
  color: #fff;
  font-size: 28px;
  max-width: 600px;
  font-weight: 400;
}

.form-label {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 0px;
  display: block;
}

.email-form {
  border-radius: 5px;
  background: #27272a;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  border: none;
  padding: 9px 11px;
  width: 380px;
  display: block;
}

.animated-object {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.animated-object.show {
  transform: translateY(10px);
  opacity: 1;
}

@media (max-width: 420px) {
  .email-form {
    width: 300px;
  }
}

@media (max-width: 818px) {
  .email-form {
    width: 250px;
  }
}

.email-error {
  color: red;
  padding-top: 5px;
  display: none;
}

.in-dev-placeholder {
  cursor: default;
}

.in-dev-placeholder-btn {
  cursor: pointer;
  background-color: #006adb;
  border: 0px;
  /* height: 38px; */
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
}

.in-dev-placeholder-btn:hover {
  background-color: #007bff;
}

.after-subs-form {
  display: none;
  padding-bottom: 55px;
}

.email-btn {
  margin-top: 25px;
  background-color: #27272a;
  display: block;
}

@media (max-width: 420px) {
  .ns-title {
    font-size: 40px;
  }
  
  .ns-p {
    font-size: 24px;
  }
  
  .mail-form {
    max-width: 250px;
  }
}

@media (max-width: 780px) {
  .ns-p {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .ns-title {
    font-size: 40px;
  }
  
  .ns-p {
    font-size: 28px;
  }
}

.functionality {
  max-width: 960px;
}

.functions-phone {
  margin: 0;
}

.functions-title {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.functions-paragraph {
  font-size: 20px;
  font-weight: 500;
  color: #666;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.func-block {
  padding-top: 40px;
  padding-bottom: 50px;
}

.func-block-scnd {
  padding-top: 10px;
  padding-bottom: 60px;
}

:root {
  --scroll: 0;
}

/* .phone-f1 {
  position: sticky;
  top: -40%;
  translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
} */