/* Общие стили */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.25;
  color: #333;
  padding: 0;
  margin: 0;
}

ul {
  line-height: 1.5;
}

/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
  color: #444;
}

/* Стили для ссылок */
a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  color: #00aaff;
}

/* Стили для шапки сайта */
header {
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(20px);
  /* border-bottom: 1px solid #ddd; */
}

.bg-header{
  height: 48px;
}

.navbar {
  max-width: 940px;
  margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
  color: #1D1D1F;
  font-size: 24px;
  font-weight: 500;
  padding: 0px;
}

.nav-link {
  color: #313135;
  font-size: 13px;
  padding: 0px;
}

/* Стили для основного содержимого */
main {
  padding: 0px 0px;
}

.frame-1 {
  background: #006adb;
}

.phone-ui{
  margin-top: -80px;
  max-width: 400px;
}

.info {
  padding: 12px;
  max-width: 940px;
  padding-bottom: 135px;
}

.info-title {
  margin-bottom: 35px;
}

@media (max-width: 415px) {
  .brand-title {
    font-size: 60px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 60px;
    padding-top: 5rem;
  }

  .phone-ui {
    max-width: 280px;
    margin-top: -50px;
  }

  .card-2 {
    max-width: 100px;
  }
}

@media (min-width: 415px) {
  .brand-title {
    font-size: 80px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 60px;
    padding-top: 5rem;
  }

  .phone-ui {
    max-width: 350px;
    margin-top: -50px;
  }
}

@media (min-width: 576px) {
  .brand-title {
    font-size: 100px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 60px;
    padding-top: 5rem;
  }

  .phone-ui {
    margin-top: -60px;
  }
}

@media (min-width: 768px) {
  .brand-title {
    font-size: 140px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 85px;
    padding-top: 5rem;
  }

  .phone-ui {
    margin-top: -70px;
  }
}

@media (min-width: 992px) {
  .brand-title {
    font-size: 185px;
    padding-top: 5rem;
  }

  .info-title {
    font-size: 115px;
    padding-top: 50px;
  }

  .card-view {
    width: 950px;
  }

  .card {
    max-width: 450px;
  }
}

.info-paragraph {
  font-weight: 500;
  margin-bottom: 35px;
}

.black-btn {
  border-radius: 50px;
  background: #1D1D1F;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  border: none;
  padding: 12px 40px;
}

.frame-2 {
  background: #121316;
}

.sec-info-cards {
  width: 575px;
  height: 525px;
}

.frame-2.card {
  background: #191A1D;
}

.col {
  padding-left: 0px;  
}

.card-body {
  padding: 0px;
}

.card-view {
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding-left: 105px; */
  max-width: 1130px;
}

.card {
  /* max-width: 450px; */
  /* max-height: 420px; */
  /* min-width: 450px; */
  border-radius: 35px;
  background: #191A1D;
  color: #fff;
  padding: 46px 46px 46px 66px;
  margin-left: 10px;
}

.card-title {
  color: #FFF;
  font-weight: 500;
  font-size: 38px;
  text-align: left;
}

.card-1 {
  max-width: 210px;
  /* margin-top: 35px;
  margin-left: -90px; */
  margin-bottom: -46px;
  padding-top: 30px;
}

.card-2 {
  max-width: 300px;
  /* margin-top: 60px;
  margin-bottom: 30px; */
  margin-top: 40px;
  margin-bottom: 20px;
}

.card-3 {
  max-height: 350px;
  margin-top: -168px;
  /* margin-right: -337px; */
  margin-left: 200px;
  /* margin-top: -150px; */
}

.card-4 {
  max-height: 300px;
  margin-top: -168px;
  margin-left: 200px;
}

/* Стили для подвала сайта */
footer {
  background-color: #f5f5f7;
  /* border-top: 1px solid #ddd; */
  padding: 20px 0;
  padding-top: 40px;
  /* padding-bottom: 40px; */
  /* padding: 40px; */
}

.frame-7 {
  padding-bottom: 70px;
}

.ftr-jmp-list-h {
  color: #000;
  font-size: 16px;
}

.bottom-line {
  padding-bottom: 35px;
  border-bottom: 1px solid #929299;
}

.copyright-block {
  padding: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 400;
}

.copyright {
  font-size: 13px;
  margin: 0;
  color: #626266;
}

.copyright-eula {
  display: inline-block;
  margin-left: 30px;
}

.copyright-eula-first {
  margin-left: 0;
}

.br-c-p {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 900;
}

.reg-selector {
  color: #007BFF;
}

.more-apps {
  padding-top: 80px;
}

.more-apps-title {
  font-size: 50px;
  font-weight: 600;
  color: #000;
  padding-bottom: 25px;
}

.app-card {
  background-color: #f5f5f5;
  padding: 55px 36px 55px 36px;
  font-weight: 600;
  border: 0px;
  max-width: 300px;
}

.placeholder-more-apps {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.card-container-more-apps {
  max-width: 1000px;
}